{% extends "base.html.twig" %}

{% block body %}

	{% if paginator|length > 0 %}

		<h1>{{ pluralize(paginator|length, 'Event', 'Events') }}</h1>

		{% set nbItemsCurrentPage = paginator.getCurrentPageResults.count %}

		{% for event in paginator %}

			<article class="event">
				<header>
					<h2>
						<a href="{{path('events.show',{'id':event.id})}}">{{event.name}}</a>
					</h2>
				</header>

				{{event.description|markdownify|truncate(constant('DESCRIPTION_TRUNCATE_LIMIT', event))}}
				{#<p>{{event.description[:constant('DESCRIPTION_TRUNCATE_LIMIT', event)] ~ '...'}}</p>#}


				<ul>
					<li>
						<strong>Date :
						</strong>
						{{ event.startsAt|date }}</li>
					<li>
						<strong>Location :
						</strong>
						{{ event.location }}</li>
					<li>
						<strong>Price :
						</strong>
						{{ format_price(event) }}</li>
				</ul>

			</article>

			{% if nbItemsCurrentPage != loop.index %}
				<hr>
			{% endif %}

		{% endfor %}

		{% if paginator.haveToPaginate() %}
			<div class="pagerfanta">
				{{ pagerfanta(paginator, { 'omitFirstPage': true}) }}
			</div>
		{% endif %}

	{% else %}
		<h1>OUps</h1>
		<p>pas d'evenements revenez plus tard</p>
	{% endif %}

{% endblock %}
